/* .titlebar-windows
{
    display: block;
    position: relative;
    height: 32px;
    padding: 0;
}
 */

.titlebar-windows-title {
    color: white;
    font-size: 12px;
}

.titlebar-windows-draghandle {
    position: absolute;
    /* background: green; */
    top: 4px;
    right: 0;
    bottom: 0px;
    left: 32px;
    -webkit-app-region: drag;
}

.titlebar-windows {
    height: 32px;
    display: flex;
    padding: 0;
}

.titlebar-windows.draggable
{
    -webkit-app-region: drag;
}

.titlebar-windows-controls
{
    float: right;
    text-align: left;
}

.titlebar-windows:after,
.titlebar-windows-controls:after
{
    content: ' ';
    display: table;
    clear: both;
}

.titlebar-windows-minimize,
.titlebar-windows-resize,
.titlebar-windows-close
{
    float: left;
    width: 45px;
    height: 31px;
    margin: 1px 1px 0 0;
    text-align: center;
    line-height: 29px;

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.titlebar-windows.draggable .titlebar-windows-minimize,
.titlebar-windows.draggable .titlebar-windows-resize,
.titlebar-windows.draggable .titlebar-windows-close
{
    -webkit-app-region: no-drag;
}

.titlebar-windows-minimize svg,
.titlebar-windows-resize svg.maximize-svg,
.titlebar-windows-resize svg.fullscreen-svg,
.titlebar-windows-close svg
{
    width: 10px;
    height: 10px;
    shape-rendering: crispEdges;
}

.titlebar-windows-close svg polygon
{
    -webkit-transition: fill .2s;
    -moz-transition: fill .2s;
    -ms-transition: fill .2s;
    -o-transition: fill .2s;
    transition: fill .2s;
}

.titlebar-windows:not(.fullscreen) svg.maximize-svg
{
    display: none;
}

.titlebar-windows.fullscreen svg.fullscreen-svg
{
    display: none;
}

.titlebar-windows-minimize:hover,
.titlebar-windows-resize:hover,
.titlebar-windows-fullscreen:hover
{
    background-color: #E5E5E5;
}

.titlebar-windows-light .titlebar-windows-minimize:hover,
.titlebar-windows-light .titlebar-windows-resize:hover,
.titlebar-windows-light .titlebar-windows-fullscreen:hover
{
    background-color: rgba(0, 0, 0, 0.1);
}

.titlebar-windows-close:hover
{
    background-color: rgba(232, 17, 35, 0.9);
}

.titlebar-windows-close:hover svg polygon
{
    fill: rgba(255, 255, 255, 1);
}

.titlebar-windows-light .titlebar-windows-close:hover
{
    fill: rgba(0, 0, 0, 1);
}

.titlebar-windows-light svg polygon,
.titlebar-windows-light svg rect,
.titlebar-windows-light svg > path
{
    fill: rgba(255, 255, 255, 1);
}

.titlebar-windows-light .titlebar-windows-close:hover
{
    background-color: rgba(232, 17, 35, 0.9);
}
